RewriteEngine On
RewriteBase /xon_onboarding/blog/cms/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /xon_onboarding/blog/cms/index.php [L]
