.main {
  display: flex;
}
body {
  margin: 0;
  padding: 0;
}
.center {
  color: gray;
  width: 100%;
  padding-top: 0;
}
.top-container {
  display: flex;
  margin: 0;
  height: 15%;
}
.reports {
  margin-left: 5%;
  height: 20%;
  display: flex;
}

.view-statics {
  height: 40%;
}

.popular-posts {
  height: 15%;
}
.top-titles {
  display: block;
  width: 200px;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
}
.dashboard-title {
  margin: 0;
  color: #0a376e;
  font-family: "Poppins", sans-serif;
}
.welcome-text {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #6e6e6e;
}
.profile-image {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 20px;
}
.report-container {
  background-color: #fee5dd;
  border-radius: 10px;
  height: 80%;
  width: 20%;
  display: flex;
}
.report-hr {
  margin-right: 30px;
  margin-left: 30px;
  padding: 0;
  margin-top: 0;
  height: 80%;
}
.post-report {
  width: 100%;
  margin-top: 20px;
  justify-content: flex-start;
}
.post-report span {
  display: flex;
  margin-left: 15%;
  justify-content: flex-start;
}
.total-number {
  font-family: "Poppins" sans-serif;
  font-size: 35px;
  margin-bottom: 10px;
  color: #2c2c2c;
}

.total-posts-text {
  font-family: "Poppins" sans-serif;
  font-size: 16px;
  color: #8e8e8e;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

.post-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.post-tr {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #2c2c2c;

  text-align: left;
}
.post-tr-td {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #2c2c2c;
  border-bottom: 1px solid #dae9fc;
  padding: 20px 30px;
  text-align: left;
}
.post-tr-td td {
  height: 50px;
}

.post-tr-td:nth-child(even) {
  background-color: #fee5dd;
}

.post-tr-td:first-child {
  border-left: none;
}

.post-tr-td:last-child {
  border-right: none;
}
.edit-button {
  color: white;
  background-color: #1473e6;
  border: none;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.delete-button {
  color: white;
  width: 25px;
  height: 25px;
  background-color: #e61414;
  border: none;
  margin-right: 10px;
}
