body {
  margin: auto;
  width: 50%;
  border: 1px solid white; /* Beyaz sınır */
  padding: 10px;
  margin-top: 50px;
  background-color: #333; /* Karanlık arka plan */
  color: white; /* Beyaz metin */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

form input {
  font-family: "Courier New", Courier, monospace;
  background-color: #444;
  color: white;
  border: 1px solid #555;
}

.submit {
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

td {
  padding: 10px;
  background-color: #444;
  color: white;
  border: 1px solid #555;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

table {
  margin-top: 30px;
}

.info-form {
  justify-content: center;
}
